.header{
  display: flex;
  border: solid;
  height: 50px;
  margin-bottom: 20px;

}
.block{
  height: 100%;
  display: flex;
  margin: auto;
}
.logo{
 height: 100%;
}

.card{
  display:flex;
  flex-direction: column;
  height: 320px;
  width: 225px;
  margin: 50px;
}

.card:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.card-container{
  display: grid;
  grid-template: auto auto /repeat(4, 1fr)
}